<div class="row">
  <div class="col-10 m-auto">
    <form class="m-3" [formGroup]="form">
      <div class="form-group row m-3">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="name" />
          <small
            class="text-danger"
            *ngIf="name?.touched && name?.errors?.['required']"
          >
            Name is required!
          </small>
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="description" class="col-sm-2 col-form-label"
          >Description:</label
        >
        <div class="col-sm-10">
          <textarea
            name="description"
            class="form-control"
            id="description"
            cols="50"
            rows="3"
            formControlName="description"
          ></textarea>
          <small
            class="text-danger"
            *ngIf="description?.touched && description?.errors?.['required']"
          >
            Description is required!
          </small>
          <small
            class="text-danger"
            *ngIf="description?.touched && description?.errors?.['minlength']"
          >
            Description must have minimum 30 characters!
          </small>
          <small
            class="text-danger"
            *ngIf="description?.touched && description?.errors?.['maxlength']"
          >
            Description can have maximum 250 characters!
          </small>
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="year" class="col-sm-2 col-form-label">Year:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="year" />
          <small
            class="text-danger"
            *ngIf="year?.touched && year?.errors?.['required']"
          >
            Year is required!
          </small>
          <small
            class="text-danger"
            *ngIf="year?.touched && year?.errors?.['minlength']"
          >
            Year must have 4 numbers!
          </small>
          <small
            class="text-danger"
            *ngIf="year?.touched && year?.errors?.['maxlength']"
          >
            Year must have 4 numbers!
          </small>
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="rating" />
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="duration" class="col-sm-2 col-form-label">Duration</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="duration" />
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="director" class="col-sm-2 col-form-label">Director</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="director" />
        </div>
      </div>
      <div class="form-group row m-3">
        <label for="genre" class="col-sm-2 col-form-label">Genre</label>
        <div class="col-6">
          <select
            name="genre"
            id="genre"
            class="form-control"
            formControlName="genre"
          >
            <option
              *ngFor="let itemGenre of genres"
              value="{{ itemGenre.name }}"
            >
              {{ itemGenre.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <input
            class="btn btn-primary"
            type="submit"
            value="+"
            (click)="onPlusClick()"
          />
        </div>
      </div>
      <div class="m-3">
        <input
          class="btn btn-primary"
          type="sumbit"
          value="save"
          (click)="onSave()"
          [disabled]="form.invalid"
        />
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row" *ngIf="button">
              <div class="col-2">
                <label for="newgenre" class="form-label"
                  >Enter new genre:
                </label>
              </div>
              <div class="col-6">
                <input
                  type="text"
                  class="form-control"
                  formControlName="newGenre"
                />
              </div>
              <div class="col-4">
                <button class="btn btn-primary" (click)="addNewGenre()">
                  Add new genre
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
