<div class="row">
  <div class="col-5 mt-3">
    <ngb-pagination
      [collectionSize]="movieList.count"
      [(page)]="params.page"
      [pageSize]="params.pageSize"
      (pageChange)="onPageChange()"
    ></ngb-pagination>
  </div>
  <div class="col-7">
    <label for="sort">Sort by:</label>
    <select
      name="sort"
      id="sort"
      class="form-control-lg mx-3 mt-2"
      style="width: 50%"
      (change)="onChange($event)"
    >
      <option value="">--</option>
      <option value="rating">Rating</option>
      <option value="year">Year</option>
    </select>
    <button (click)="onClickDirection()">&UpArrowDownArrow;</button>
  </div>
</div>

<div class="row bg-light my-3 py-2" *ngFor="let itemMovie of movieList.results">
  <h2>
    <a [routerLink]="[itemMovie._id]" class="text-decoration-none">{{
      itemMovie.name
    }}</a>
    ({{ itemMovie.year }})
  </h2>
  <p>{{ itemMovie.description }}</p>
  <div class="row">
    <div class="col-10">
      <img src="assets/images/gold_star.png" alt="goldStar" />{{
        itemMovie.rating
      }}
    </div>
    <div class="col-2 text-center">
      <p>{{ itemMovie.duration }}mins.</p>
    </div>
  </div>
</div>
